node_modules/
.env
.env.local
.env.production
.env.*.local
.env.production
.DS_Store
.firebase/
.next/
out/
.open-next/
.vercel
.wrangler
.open-next/
*.tsbuildinfo
next-env.d.ts
package-lock.json
/DESIGN_REFERENCE.png
